thoughts/*
node_modules/*
helperfunctions/prosieben/images/*
helperfunctions/image_processing/urls.zip

helperfunctions/prosieben/network.h5
helperfunctions/prosieben/networkbackup.h5
helperfunctions/prosieben/networks/example1/*
helperfunctions/prosieben/networks/example2/*
helperfunctions/prosieben/networks/no_logo/*
helperfunctions/prosieben/networks/prediction1/*

db.sqlite3
dump.rdb

.idea/*

deepnet/datasets/*

