thoughts/*
node_modules/*
helperfunctions/prosieben/images/*
helperfunctions/image_processing/urls.zip

helperfunctions/prosieben/network.h5
helperfunctions/prosieben/networkbackup.h5
helperfunctions/prosieben/networks/example1/*
helperfunctions/prosieben/networks/example2/*
helperfunctions/prosieben/networks/no_logo/*
helperfunctions/prosieben/networks/no_logo2/*
helperfunctions/prosieben/networks/prediction1/*
helperfunctions/prosieben/networks/teleboy/test/*
helperfunctions/prosieben/networks/teleboy/test2/*
helperfunctions/prosieben/networks/teleboy/worst/*
helperfunctions/prosieben/networks/teleboy/wrong/*
helperfunctions/prosieben/networks/teleboy/mean_points.h5
helperfunctions/prosieben/networks/teleboy/mean_points_srf.h5

db.sqlite3
dump.rdb

.idea/*

deepnet/datasets/*

