tqdm==4.27
deepdish==0.3.6
numpy==1.15.2
matplotlib==3.0.0
scipy==1.1.0
python-mnist==0.6
pygame==1.9.4
opencv-python==3.4.3.18
requests==2.20.0
coverage==4.5.1
coveralls==1.5.1
Django==2.1.2
django-nose==1.4.6
channels==2.1.4
channels_redis==2.3.1
websocket-client==0.53.0
psycopg2==2.7.5
