tqdm
deepdish
numpy
matplotlib
scipy
python-mnist
pygame
opencv-python
requests
coverage==4.5.1
coveralls==1.3.0
Django==2.0.7
django-nose==1.4.5
channels~=2.0,>=2.0.2
channels_redis~=2.0
websocket-client
